.App {
  text-align: center;
  font-family: 'Inconsolata', sans-serif;
  min-height: 100vh;  
  color: white;
}

.App-header {
  text-align: left;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Roboto Mono', sans-serif;
  color: white;
}

.App-header p {
  font-size: 1.3rem;
  color: #84817a;
  font-family: 'Inconsolata', sans-serif;

}

.section-projects{
  display: flex;
  justify-content: center; /* Centers the grid horizontally */
  align-items: center;     /* Centers the grid vertically */
  height: 100vh;           /* Full height of the viewport */
  width: 100%;             /* Full width of the viewport */
}

@media (min-width: 768px) {
  .App {
    width: 40%; /* Set the width to one third of the screen */
    margin: auto; /* Center the App class */
  }
}

/* index.css */
/* @import url('~@fontsource/inconsolata/index.css');
* {
    font-family: 'Inconsolata', monospace;
 } */
/* Remove the closing curly brace that is causing the error */
